*, 
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.play-container {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
}


.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    position: relative;
  }
  
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.color-highlight-one {
    background-color: #B4E1FF;
}

.color-highlight-two {
    background-color: #AB87FF;
    color: #FEFEFE;
}

.response-display {
    margin: 15px;
    font-size: 16px;
    padding: 30px;
}

.answer-resp-segment {
    padding: 2.5px;
    background-color: rgb(178, 214, 174);
    font-weight: 700;
}

.chat-view {
    display: flex;
    flex-direction: column;
    height: 35%;
    overflow-y: hidden;
}

.chat-messages {
    flex-grow: 1;
    overflow: scroll;
}

.chat-user {
    font-weight: 600px;
}

.gameplay-section {
    height: 65%;
    overflow-y: scroll;
}