*, 
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.play-container {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
}

.players-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-right: 1px solid gray;
    min-height: 100%;
    margin: 0;
    flex-grow: 1;
}

.players-list-item h3 {
    margin: 5px;
    padding: 0;
}

.players-list-item {
    list-style-type: none;
    margin: none;
    padding: 15px;
}

.players-list-item:not(:last-of-type) {
    border-bottom: 1px solid grey;
}

.gameplay-area {
    flex-grow: 4;
}